label,
#toggle {
  display: none;
}
  nav .main_pages{
    
    background: var(--black);
    height: 150px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: var(--black);
    
  
  }

  a {
    text-decoration: none;
    color: var(--red);
  }

 



@media only screen and (max-width: 680px) {
  nav {
    height: 50px;
    background: var(--black);
    
    
  }

  nav .main_pages {
    display: none;
    flex-direction: row;
    align-items: center;
    align-content: center;
    background:var(--black);
    /* height: 220px; */
  }

  nav .main_pages a {
    /* width: 50%; */
    color: var(--red);
    text-decoration: none;
  }

  label {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    margin-left: 90%;
    color: var(--red);
    cursor: pointer;
  }

  #toggle:checked + .main_pages {
    display: inline-block;
  }
}
