label,
#toggle {
  display: none;
}
  nav {
    
    background: var(--black);
    height: 100px;
    width: 100%;
  }

  a {
    text-decoration: none;
    color: var(--red);
    display: inline-block;
    align-content: space-around;
    align-items: center;
    
  }


@media only screen and (max-width: 680px) {
  nav {
    height: 50px;
    background: var(--black);
    position:fixed;
  }

  nav .main_pages {
    display: none;
    flex-direction: row;
    align-items: center;
    align-content: center;
    background:var(--black);
    height: 220px;
  }

  nav .main_pages a {
    /* width: 50%; */
    color: var(--red);
    text-decoration: none;
  }

  label {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    margin-left: 90%;
    color: var(--red);
    cursor: pointer;
  }

  #toggle:checked + .main_pages {
    display: flex;
  }
}
