@font-face {
  font-family:stjedise;
  src: url(./fonts/STJEDISE.TTF);
}

#homepage {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 20px;
  justify-content: center;
  justify-items: center;
}
#homepage h1 {
  font-family: stjedise;
  font-size: 100%;
  /* border-radius: 10px;
  background-color: var(--grey);
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.75); */
  width: 200px;
  height: 100px;
  padding: 15px;
  text-align: center;
  margin: 20px;
}

#homepage img {
  margin: 20px;
}
#homepage p {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  border-radius: 10px;
  background-color: var(--grey);
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.75);
  /* width: 80%; */
  padding: 15px;
  text-align: center;
  margin: 20px;
}
