#portfolio {
    background-color: var(--grey);
}

#portfolio h2 {
    color: var(--black);
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
}

.achievement img {
    width: 15rem;
    height: 12.5rem;
    transition: transform .2s;
    border-radius: 10px;
}

@media screen and (min-width: 701px) {

    .achievement {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        padding-top: 4rem;
        padding-bottom: 5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 0.8rem;
        border-bottom: 0.2rem var(--black) solid;
        justify-content: center;
    }


    .achievement img {
        filter: brightness(50%);
        -webkit-filter: brightness(50%);
    }


    .achievement img:hover {
        -ms-transform: scale(1.2); 
        -webkit-transform: scale(1.2); 
        transform: scale(1.2);
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
    }
}

@media screen and (max-width: 700px) {
    .achievement {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        padding-top: 4rem;
        padding-bottom: 5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 0.8rem;
        border-bottom: 0.2rem var(--black) solid;
        justify-items: center;
    }

    .achievement img {
        width: 13.5rem;
        height: 11rem;
        transition: transform .2s;
        border-radius: 10px;
    }
}
