


.skillsection {
    background-color: white;
    padding-bottom: 20px;

}


h2 {
    text-align: center;
}


p {
    text-align: left;
    padding-top: 18px;
    margin-bottom: 2px;
    margin-left: 5%;
    font-size: 1rem;
}


.container {
    align-items: center;
    width: 90%;
    background-color: var(--black);
    margin-left: 5%;
    box-shadow: 1px 1px 6px 2px rgba(0,0,0,0.75);
    border: 8px solid #000000 ;
    border-radius: 40px 40px 40px 40px;

}

.skill {
    text-align: right;
    padding-top: 1px;
    padding-bottom: 1px;
    color: black;
    
}

.c1 {
    width: 90%;
    background-color: var(--red);
}

.c2 {
    width: 70%;
    background-color: var(--red);
}

.c3 {
    width: 100%;
    background-color: var(--red);
}
.c4 {
    width: 100%;
    background-color: var(--red);
}
.c5 {
    width: 80%;
    background-color: var(--red);
}
.c6 {
    width: 100%;
    background-color: var(--red);
}

@media screen and (min-width:1024px) {
    .container {
        width: 40%;
        margin-left: 30%;
    }

    p {
        margin-left: 30%;
        padding-top: 20px;
    }

}

