
#legal {

  background: var(--black);
}
#legal>#body {
  overflow: hidden;
  font-family: 'Roboto';
  margin: 0;
  position: relative;
  height: 100vh;
}
#legal>#body::after {
  content: '';
  position: fixed;
  top: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(180deg, rgba(20,20,20,1) 40%, rgba(20,20,20,0) 100%);
}
.wrapper {
  display: flex;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  perspective: 250px;
}
.scroll-text {
  color: var(--red);
  font-size: 3vw;
  line-height: 1.5em;
  font-weight: bold;
  text-align: justify;
  position: relative;
  animation: scroll 60s linear forwards;
}
#legal h1,h2 {
  text-align: center;
}

@keyframes scroll {
	from { top: 800px; transform: translateZ(0) rotateX(30deg); }
	to { top: -7500px; transform: translateZ(-4500px) rotateX(30deg); }
}
